<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SOES Problem</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/#{@stylesheet}") %>">
    <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/1833252a-0dac-45a8-a6f9-58c9b6f8df11.css">

    <style>
    * {
      font-family: 'Avenir LT W04_55 Roman1475524', sans-serif!important;
    }

    i {
      font-family: 'Icons'!important;
    }

    .ace_line > * {
      font-family: Monospace !important;
    }

    .ace_cursor {
      font-family: Monospace !important;
    }

    ::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: white;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(100, 100, 100, 0.4);
    }

    @-webkit-keyframes appear {
      from {
        top: 10px;
        opacity: 0.3;
      } to {
        top: 0px;
        opacity: 1;
      }
    }

    .priority-logic {
      font-family: monospace!important;
      font-size: 18px;
      height: 250px;
      width: 100%;
      border-radius: 3px;
    }

    .enterFrame {
      animation: appear 0.4s linear;
      animation-fill-mode: forwards;
    }

    #container {
      min-height: 100vh;

      background: white;
      box-shadow: 0px 0px 1px 3px #f1f1f1;

      padding: 15px;
      margin: 65px 10px 10px 273px;
    }

    .ui.bottom.sidebar.menu.abcd-footer {
      position: fixed !important;
      height: 37.5px !important
    }

    .abcd-navbar-logo::before {
      width: 0px!important;
    }

    @-webkit-keyframes grayOut {
      from {
        -webkit-filter: grayscale(0%);
      } to {
        -webkit-filter: grayscale(100%);
      }
    }

    .pci-dss-logo {
      -webkit-filter: grayscale(0%);
      padding: 5px
    }

    /*.pci-dss-logo:hover {
      -webkit-animation: grayOut 1s linear;
    }*/

    </style>
  </head>

  <body style="background: #f9f9f9">
    <div id="navbar"></div>
    <div id="left-nav"></div>

    <div id="application">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.1/papaparse.js"></script>
    <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/semantic.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
