.maindiv_gateway_priority {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.filepicker {
    font-family: sans-serif;
}

div.filepicker {
    text-align: center;
    padding: 5px;
    background-color: #E1E1E1;
    border-radius: 5px;
    min-height: 60px;
    border: 2px dashed #C7C7C7;
}

/* Icon */
.filepicker-file-icon
{
    position: relative;

    display: inline-block;

    margin: 1.5em 0 2.5em 0;
    padding-left: 45px;

    color: black;
}
.filepicker-file-icon::before
{
    position: absolute;
    top: -7px;
    left: 0;

    width: 29px;
    height: 34px;

    content: '';

    border: solid 2px #7F7F7F;
    border-radius: 2px;
}
.filepicker-file-icon::after
{
    font-size: 11px;
    line-height: 1.3;

    position: absolute;
    top: 9px;
    left: -4px;

    padding: 0 2px;

    content: 'file';
    content: attr(data-filetype);
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    background-color: #000;
}

.filepicker-file-icon .fileCorner
{
    position: absolute;
    top: -7px;
    left: 22px;

    width: 0;
    height: 0;

    border-width: 11px 0 0 11px;
    border-style: solid;
    border-color: white transparent transparent #920035;
}

.table_main {
  border: 1px solid #e5e5e5;
  padding: 9px 15px;
  width: 80%;
}

.div_inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;

}

.padded {
  padding: 9px 15px;

}

.btn_wrapper {
  border-top: 1px solid #e5e5e5;
  padding: 0;
  margin: 0 auto;

}

.btn {
  background-color: hsl(143,68%,29%)!important;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#24c060),color-stop(100%,#177c3e));
  -webkit-font-smoothing: antialiased;
  font-family: 'Ubuntu',sans-serif;
  color: white;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  padding: 4px 12px;
  transition: background-position .1s linear;
}

.label {
  font-family: sans-serif;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 4px;
  font-size:12px;
  font-weight: bold;
  line-height:14px;
  color:white;
  margin-bottom: 10px;
}

.label-warning {
  background-color: #f89406;
}

.text_area {
  margin: 0;
  height:150px;
  width: 90%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border linear .2s,box-shadow linear .2s;
  display:inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  overflow: auto;
}

.readonly {
  cursor: not-allowed;
  background-color: #eee;
}

.table {
  margin-bottom: 20px;
  color: black;
  width:70%;
}

.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  border-radius: 4px;
}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
  background-color: #f9f9f9;
}

.table-bordered th {
  border-left: 1px solid #ddd
}
.table th {
  font-weight: bold;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: center;
}


.table-bordered td {
  border-left: 1px solid #ddd
}
.table td {
  font-weight: bold;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
}

.accordion-outer {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
}

.accordion-group {
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;

  }

.accordian-heading {
  line-height:20px;
  border-bottom: 0;
  display: block;
  padding: 8px 15px;
}
.accordion-toggle {
  padding: 8px 15px;
  cursor: pointer;
  color: #146b36;
  display: block;
}

.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}

.accordion-body {
  width:100%;
}

.table_route {
  width:100%;
}
.left_tr {
  align: 'left'
}
